
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 20px;
    background-color: #cfc4c4;
}

h1 {
    font-size:2.5em;
    text-align: center;
    color: rgb(236, 171, 50);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

#drawing-canvas {
    width: 100%;
    height: 600px;
    border: 1px solid #b4b2b2;
    background-color: white;
    cursor: crosshair;
    touch-action: none;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#eraser {
    background-color: #e01e10;
}

#eraser:hover {
    color: #e01e10;
    background-color: rgb(243, 239, 239);
}

#clear {
    background-color: #2196F3;
}

#clear:hover {
    color: #2196F3;
    background-color:rgb(243, 239, 239); 
    
}

#pencil {
    background-color: #f0ad4e;
}

#pencil:hover {
   color: #ec971f;
   background-color:rgb(243, 239, 239); 
}

#save {
    background-color: #5bc0de;
}

#save:hover {
    color: #5bc0de;
    background-color: white;
}



input[type="range"] {
    width: 150px;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
}


