*{
    padding: 0;
    margin: 0;
    box-sizing: borsder-box;
  }
  
  body{
    overflow-x:hidden;
    background-color:rgb(233, 224, 177);
    font-family: Arial, Helvetica, sans-serif;
  }
         
  .header{
    background-color: rgb(225, 236, 240);
    padding: 20px;
    margin: 15px 10px;
   border-radius:12px;
  }
          
         
  .header h1{
    text-transform:uppercase;
    padding: 20px 0 0 200px;
    font-size: 3.5rem;
    
  }
  
  .header h2{
    font-size:2.7rem ;
    font-weight: 100;
    padding: 5px 200px;
  }
  
  .flag{
    margin-top: -160px;
    float: right;
    padding: 10px 4px;
    border-radius: 15px;
  }
  
   #img-div{
     margin:  10px auto;
     padding: 30px; 
          
  }
  
   #image{
      display: block;
      max-width:100%;
      height:auto;
      margin: 0 auto;
  }
  
  figcaption{
       display: block;
       font-style: italic;
       font-size: 0.9rem;
       text-align: center;
  }
  
  
  .timeline {
      position: relative;
      margin-left: 30px;
      padding-left:20px;
      border-left: 3px solid black;  
  }
  
  .timeline-container {
        position: relative;
        margin-bottom: 30px;
  }
  
  .timeline-dot {
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: black; 
      border-radius: 50%;
      left: -32px; 
      top: 3px;
  }
       
      
  .timeline-content h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
  }
  
  .timeline-content p {
      margin: 5px 0 0;
      width: 70ch;
      color: #868686;
  }
  
  .achivements{
      display: inline;
      position: relative;
      float:right;
      top: -600px;
      right: 20px;
  }
     
  .achivements h4{
      position: relative;
      padding: 10px;
  }
  
  .gold{color: gold; font-size: 1.3em;}
  
  .full-biography{
   background-color: rgb(225, 236, 240);
   padding: 20px;
   margin: 1em 1.8em;
  }
  .full-biography summary {
      font-weight: bold;
      cursor: pointer;
     
  }
  
  .full-biography details{
      margin-bottom: 15px;
      font-size: 1.3rem;
  
      color:rgb(15, 186, 248);
  }
  
  .full-biography h3{
      font-size: 1.3rem;
       padding: 20px;
  }
      
  .full-biography p{
       font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 20px;
       width: 100%;
  }
  
  .full-biography p{
          padding: 5px;
      }
  
  
  #tribute-link:hover{
    color:balck;
    background-color:white;
   }
  
      
  .quote {
    background-color: white;
    color: rgb(165, 116, 66);
    border-left: 6px solid #0082ec;
    padding: 12px 15px;
    margin: 15px 20px;
    border-radius: 0 8px 8px 0;
    position: relative;
              
   }
   
   .quote::before {
     content: "“";
     line-height:1;
     font-size: 80px;
     color:#e0e0e0; 
     position: absolute;
     left: 6px;
     top: 6px;
             
  }
  
   .quote-text {
      font-size: 18px;
      line-height: 1.5;
      width: 100%;
      margin-left: 20px;
      padding-top: 10px;
   }
  .quote-author {
      font-weight: bold;
      color: #0088cc;
      text-align: right;
      font-size: 16px;
  }
  .quote-author::before {
    content: "— ";
  }



@media (max-width: 950px) {
    .header {
        text-align: center;
      
    }

    .header h1 {
        padding: 20px 0 0 20px;
        font-size: 3.5rem;
        text-align: left;
    }
    
    .header h2 {
        font-size: 2.7rem;
        padding: 20px 0 0 20px;
        text-align: left;
    }
    
    .flag{
        
        width: 260px;
    }
    
    .timeline-content p {
        width: 100%;
    }
    
    .achivements {
        float: none;
        position: static;
        margin: 20px auto;
        text-align: center;
    }
    
    .full-biography {
        margin: 1em 0.7em;
    }
    
}

@media (max-width: 770px) {
    .header h1 {
        padding: 20px 0px 0 4px;
        font-size:  2.5rem;
        font-weight: 700;
    }
    
    
    .header h2 {
        font-size: 2rem;
        padding: 20px 0px 0 4px;
    }

    .timeline-dot {
       margin-left: 11px;
    }

    .flag{
        width: 200px;
        height: 130px;
        margin-right:-5px;
        margin-top: -135px;
    }
    
    
    .timeline {
        margin-left: 15px;
        padding-left: 10px;
    }
}

@media (max-width:570px) {

    .header h1{
        font-size: 2rem;
    }

    .header h2{
        font-size: 1.8rem;
    }
    .flag{
        position: static;
        margin-left: 100px;
        margin-top: -130px;
       width: 130px;
    }
}